{% extends "app/base.html" %}
{% load mi_markdown %}

{% block title %}blog{% endblock %}

{% block content %}
    <h1>{{ entry.titulo }}</h1>
    <p>
        {{ entry.descripcion | mi_markdown }}
    </p>
{% endblock %}

{% block pie %}
    {% if anterior %}
        <p>anterior: <a href="/{{ anterior.handle }}">{{ anterior.titulo }}</a></p>
    {% endif %}
    {% if siguiente %}
        <p>siguiente: <a href="/{{ siguiente.handle }}">{{ siguiente.titulo }}</a></p>
    {% endif %}
    <div class="fecha">
        <p class="text-muted">
            entrada {{ entry.identry }} - creado {{ entry.creado }} {% if entry.cambiado %}- modificado
            {{ entry.cambiado }} {% endif %}
        </p>
    </div>
{% endblock %}
